$f-primary: 'Lato', sans-serif;

$c-dark: #555;
$c-black: #000;
$c-light: #e7e7e7;
$c-white: #fff;
$c-light-red: #f44336;
$c-yellow: #fe0;
$c-dark-blue: #3a3b4a;

$xxs: 445px;
$xs: 625px;
$s: 768px;
$ms: 840px;
$m: 960px;
$ml: 1160px;
$l: 1290px;
$xl: 1440px;
$xxl: 1600px;

$duration: 0.3s;
$ease: ease-in-out;
