@import '@/styles/main.scss';

.content {
  margin: 40px 0;
}

.content__right {
  justify-content: flex-start;

  @media (min-width: $s) {
    justify-content: flex-end;
  }
}

.content__grid-view,
.content__list-view {
  cursor: pointer;

  svg {
    width: 40px;
    height: 40px;
  }
}

.content__grid-view {
  margin-left: 1em;
  margin-right: 0.5em;
}

.content__hotels {
  &.ant-list {
    margin-top: 20px
  };
}

.content__hotel {
  &:hover {
    .content__hotel-name {
      color: $c-light-red;
    }
  }
}

.content__hotel--listview {
  flex-direction: row;

  .content__hotel-img-wrap {
    width: 40%;
    margin-right: 1em;
  }

  .content__hotel-content {
    flex: 1 1 0;
  }
}

.content__hotel-thumb {
  @include ratio(16, 9);
}

.content__hotel-img {
  border-radius: 4px;
}

.content__hotel-name,
.content__hotel-price,
.content__hotel-description,
.content__hotel-location {
  margin-bottom: 6px;
}

.content__hotel-content {
  color: $c-dark;
}

.content__hotel-name {
  font-weight: bold;
}

.content__star {
  svg {
    color: $c-yellow;
  }
}
