@import '@/styles/variables.scss';
@import '@/styles/flex.scss';
@import '@/styles/z-index.scss';

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: $nav-z-index;
  background-color: $c-white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .19);
}

.nav__left {
  @extend .flex-center;

  width: 200px;
  padding: 0 20px;
}
